/*reset*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0px;
    margin: 0px;
}

a,
li,
button {
    text-decoration: none;
    color: black;
}


/*end reset*/


/******** header ********/

header {
    position: fixed;
}

.advt-wrapper {
    background: url(img/green.png) no-repeat;
    background-size: 100%;
    height: 50px;
}

.advt a {
    padding: 8px 0;
    /* position: absolute;
    top: 10%;
    left: 30%; */
    position: relative;
    bottom: 120px;
    /* top: -50px; */
    left: 35%;
    width: 150%;
    z-index: 9;
    text-align: center;
    margin: 0 auto;
    position: relative;
    color: #fff;
    font: 14px "Open Sans", sans-serif, Arial;
    font-weight: bold;
}

.advt span {
    color: #ffdb5b;
}

.advt img {
    position: relative;
    top: -60px;
    left: -30%;
    width: 150%;
    z-index: 8;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    background: #fff;
    position: relative;
    z-index: 10;
}

.main-header ul li {
    display: inline;
    font: 14px "Open Sans", sans-serif, Arial;
    /*font-weight: bold;*/
    margin: 35px;
}

.main-header nav a {
    color: #333333;
    padding: 21px 0;
}

.main-header nav a:hover {
    color: #ff622e;
}

.main-header .tel a {
    padding: 21px 20px;
    background: url(img/phone.svg) no-repeat;
    font-weight: bold;
}

.main-header button {
    border: 1px solid grey;
    background-color: #fff;
    margin: 0px 13px;
    padding: 0px 13px;
    font: 14px "Open Sans", sans-serif, Arial;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


/******** main ********/

#main {
    padding-top: 50px;
}

#main .main-page-part {
    background: url(img/bg.jpg) no-repeat;
    background-size: 100%;
    /*
    display: block;
    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    color: white;
}

#main h1 {
    font: 48px "Open Sans", sans-serif, Arial;
    padding: 48px 0px 37px;
    font-weight: bold;
}

#main h2 {
    font: 18px "Open Sans", sans-serif, Arial;
    font-weight: bold;
    margin: 0px 375px;
}

#main .main-page-part .buttons-header {
    padding: 46px 0px 32px;
    font: 13px "Open Sans", sans-serif, Arial;
    color: #333333;
}

#main .main-page-part .buttons-header button {
    font: 13px "Open Sans", sans-serif, Arial;
    color: #333333;
    margin: 0px 5px;
    padding: 17px 30px;
    background: #ff622e;
    border-style: none;
}

#main .buttons-header #left-main-btn {
    background: #ff622e;
    color: #fff;
}

#main .buttons-header #right-main-btn {
    background: #fff;
    color: #ff622e;
}

#main .main-page-part p {
    font: 15px "Open Sans", sans-serif, Arial;
    color: #fff;
    padding: 20px 0px;
    display: block;
}

#main .main-page-part .carusel {
    margin: 105px 0px;
}

#main .carusel button {
    background: #a6a6a6;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
}

#main .carusel img {
    max-width: 40%;
}

#main .carusel .img-carusel {
    margin: auto;
    width: 640px;
    position: relative;
    z-index: 1;
}

#main .carusel .img-carusel img {
    z-index: 1;
}

#main .carusel .img-carusel .img-2 {
    left: -120px;
    top: 25px;
}

#main .carusel .img-carusel .img-3 {
    left: -240px;
    top: 50px;
}

#main .main-page-part .carusel {
    background: url(img/arrows.png) no-repeat;
}

#main .swiper-wrapper .swiper-slide img {
    width: 60%;
}


/*************************/

.jcarousel {
    width: 600px;
    overflow: hidden;
    float: left;
}

.slider-list {
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}

.items {
    display: block;
    margin-right: 25px;
    float: left;
}

.items img {
    max-width: 100px;
}

.slider-arrow-left,
.slider-arrow-right {
    float: left;
}


/*********** for-all **************/

#for-all {
    padding: 65px 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font: "Open Sans", sans-serif, Arial;
    color: #333333;
}

#for-all h2 {
    font: 36px "Open Sans", sans-serif, Arial;
    color: #333333;
    /* font-weight: 100; */
    margin: 30px 566px 50px;
}

#for-all .parts-for-all {
    display: flex;
    flex-direction: row;
}

#for-all .part {
    padding: 10px 64px;
    max-width: 554px;
    border-right: 1px solid #f4f4f4;
}

#for-all .part:last-child {
    border-right: none;
}

#for-all .part .part-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#for-all .part .part-inside h3 {
    margin: 0 0 25px;
    font: 24px "Open Sans", sans-serif, Arial;
    color: #333333;
    text-align: center;
    margin-top: 30px;
}

#for-all .part .part-inside img {
    max-width: 200px;
}

#for-all .part .part-inside p {
    font: 16px "Open Sans", sans-serif, Arial;
    color: #666666;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
}

#for-all .part .part-inside a {
    color: #ff642e;
    font: 16px "Open Sans", sans-serif, Arial;
    text-decoration: underline;
}

#for-all .part .part-inside button {
    background: #f4f4f4;
    color: #666666;
    font: 16px "Open Sans", sans-serif, Arial;
    margin: 0px 3px 10px;
    padding: 7px 23px;
    border: none;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}


/************ download *************/

#download {
    padding: 20px 0 120px;
    background-image: linear-gradient(to right, #46a8cf 0%, #4980a9 100%);
    color: #fff;
    font: 24px "Open Sans", sans-serif, Arial;
}

#download b {
    background: #56aacf;
    color: #fff;
    margin: 0 0 0 5px;
    padding: 1px 10px;
}

#download p {
    text-align: center;
    padding: 50px 0 0;
    /* padding: 1px 5px 1px 0px; */
}

#download button {
    border: none;
    padding: 22px 15px;
    background: #fff;
    margin-right: 13px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#download button:nth-child(1)::before {
    content: "";
    background: url(img/download.svg) no-repeat;
    background-position: 10px;
    padding: 10px 0px 10px 40px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#download button:nth-child(2)::before {
    content: "";
    background: url(img/download.svg) no-repeat;
    background-position: -28px;
    padding: 10px 12px 10px 22px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#download button:nth-child(3)::before {
    content: "";
    background: url(img/download.svg) no-repeat;
    background-position: -58px;
    padding: 10px 0px 10px 40px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#download button:nth-child(4)::before {
    content: "";
    background: url(img/download.svg) no-repeat;
    background-position: -90px;
    padding: 10px 90px 10px 40px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#download button:nth-child(5)::before {
    content: "";
    background: url(img/download.svg) no-repeat;
    background-position: -215px;
    padding: 10px 100px 10px 40px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#download button:nth-child(1):hover {
    color: #786b59;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}


/*********** users **************/

#users {
    background: #f6f6f6;
    padding: 69px 0 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#users h3 {
    text-align: center;
    font: 24px "Open Sans", sans-serif, Arial;
    color: #333333;
}

#users .content {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    max-width: 960px;
}

#users .company {
    display: flex;
    flex-direction: row;
}

#users .company div {
    width: 170px;
    height: 160px;
}

#users .company .customer-1 {
    content: "";
    background: url(img/customers-articles.png) no-repeat;
    background-size: 2000%;
    background-position: -1790px;
}

#users .company .customer-2 {
    content: "";
    background: url(img/customers-articles.png) no-repeat;
    background-size: 3000%;
    background-position: -48px;
}

#users .company .customer-3 {
    content: "";
    background: url(img/customers-articles.png) no-repeat;
    background-size: 2700%;
    background-position: -250px;
}

#users .company .customer-4 {
    content: "";
    background: url(img/customers-articles.png) no-repeat;
    background-size: 2200%;
    background-position: -1820px;
}

#users .company .customer-5 {
    content: "";
    background: url(img/customers-articles.png) no-repeat;
    background-size: 2500%;
    background-position: -430px;
}

#users .company .customer-6 {
    content: "";
    background: url(img/customers-articles.png) no-repeat;
    background-size: 2500%;
    background-position: -600px;
}

#users .content .arno {
    /* display: flex;
    flex-direction: column;
    max-width: 303px; */
    border: 2px solid black;
    max-width: 303px;
}


/*************************/

.box {
    width: 50px;
    height: 50px;
    border: 2px solid red;
}

#test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}